@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <table class="table">
        <thead class="text-center">
            <tr>
                <th scope="col">Defense</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">Win Rate %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

