.hero-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.won, .lost, .draw {
    font-weight: bold;
}

.won {
    color: #5AAB61;
}

.lost {
    color: #DC143C;
}

.draw {
    color: #F7BE6D;
}

img[src=""] {
    display: none;
}

.battle-status-icon {
    width: 40px;
}

.battle-status-icon-sm {
    width: 30px;
}