html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active-nav {
    background-color: #0dcaf0;
}

.nav-item {
    border-radius: 5px;
}

.large-icon {
    font-size: 2rem;
}

/* Overwrite bootstrap style */
.btn-info {
    color: white;
}

.btn-info:hover {
    color: white;
    opacity: 80%;
}

